language: generic
install: skip
cache: false
services:
  - docker
git:
  clone: false
branches:
  only:
  - master
if: (commit_message =~ ^daily OR type = "cron") AND (branch = master)
env:
  - WEBGRAB_FILENAME=configs/ar_osn7.xml
  - WEBGRAB_FILENAME=configs/ar_osn8.xml

script: |
  wget https://raw.githubusercontent.com/Fazzani/grab/master/build.sh -O build.sh
  chmod +x ./build.sh && ./build.sh --build

jobs:
  include:
  - stage: merging
    name: Merging xmltv files
    script: |
      wget https://raw.githubusercontent.com/Fazzani/grab/master/build.sh -O build.sh
      chmod +x ./build.sh && ./build.sh --merge

notifications:
  email:
    recipients:
      - tunisienheni@gmail.com
    on_success: change
    on_failure: change
