<settings>
    <!-- for detailed info about the settings see http://webgrabplus.com/documentation/configuration/webgrabconfigxml -->
    <filename>/data/guide.xmltv</filename>
    <mode>m</mode>
    <postprocess grab="y" run="n">mdb</postprocess>
    <user-agent>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:29.0) Gecko/20100101 Firefox/29.0</user-agent>
    <logging>on</logging>
    <retry time-out="5">4</retry>
    <timespan>8</timespan>
    <update>i</update>
    <!--
            Replace the next dummy channel entry with the channels you want.
			You can look into the installed siteini.pack folder on your computer
  
            For the latest version,
            see http://webgrabplus.com/epg-channels for the available sites/channels
  -->
    <channel update="i" site="bein.net" site_id="mena_sports/HD1" xmltv_id="HD1">HD1</channel>
    <channel update="i" site="bein.net" site_id="mena_sports/HD2" xmltv_id="HD2">HD2</channel>
</settings>